/* Optimized CSS file for Mobile and Desktop */
/* Eerie Black: #171A21 | Nickel: #617073 | Steel Blue: #4281A4 */
/* Pewter Blue: #9CAFB7 | Granite Gray: #607466 */
/*---------CSS Reset for all elements---------*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
}
/*--------------End CSS Reset--------------*/
/*---------Additional Fonts to Add---------*/
@font-face {
  src: url("/assets/East-Liberty.otf");
  font-family: East-Liberty;
}
/*-------------Particles.js CSS-------------*/
#particles-js canvas {
    display: block;
    vertical-align: top;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}
/*-------------Particles.js END-------------*/
html {
	height: 100vh;
}
body {
		background-color: #171A21;
		font-family: Quicksand, sans-serif;
		color: white;
		height: 130%;
}
/*-----------START of Mobile First CSS-----------*/
.container {
		width: 70%;
		max-width: 600px;
		min-height: 100%;
		margin: 30px auto;
		text-align: justify;
}
h1 {
	font-family: 'Bebas Neue';
	text-align: center;
	font-size: 16vw;
	line-height: 0.9;
	margin: 20px auto;
	width: 100%;
	-webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
h1:hover {
	text-shadow: -6px 6px 0px #383357;
}
.footer {
	font-size: 2vw;
	text-align: center;
	margin: 10px auto;
}
/*-----------index.html specific-----------*/
.headshot {
	width: 70%;
	margin: auto;
	border-radius: 35%;
	display: block;
}
.signature {
	font-family: East-Liberty;
	margin: 30px auto;
	width: auto;
	text-align: center;
	font-size: 9vw;
}
/*-----------work.html specific-----------*/
button:focus {outline:0;}

.company-info {
	width: 100%;
	padding: 10px;
	margin: 8px auto;
	background: rgba(255,255,255, .40);
	border-radius: 10px;
	text-align: right;
	color: inherit;
  transition: 0.4s;
}
.company {
	font-family: 'Bebas Neue';
	font-size: 9vw;
	line-height: 0.8;
}
.job-period {
	font-size: 4vw;
	font-family: Quicksand;
}
.active, .company-info:hover {
  background: rgba(255,255,255, .50);
	text-shadow: -3px 3px 0px #383357;
	letter-spacing: 2;
	border-radius: 10px 10px 0 0;
	transition: 0.2s;
}
.expandable {
	background: rgba(255,255,255, .40);
	border-radius: 0 0 10px 10px;
	padding: 0px 5px;
  max-height: 0;
  overflow: hidden;
	text-align: left;
  transition: max-height 0.2s ease-out;
	transform: translate(0, -8px);
}
.job-position {
	font-size: 5vw;
	margin: 6px auto;
}
ul, li {
	margin: 5px 5px 15px 15px;
	list-style-type:circle;
}
/*-----------END of Mobile First CSS-----------*/
/*-----------START of Tablet/Desktop CSS-----------*/
@media only screen and (min-width: 500px) {
	body {
    background-color: #617073;
		display: flex;
		flex-direction: column;
		min-height: 100%;
  }
	h1 {
		font-size: 100px;
	}
	.footer {
		font-size: 15px;
	}
	.header-img {
		max-height: 400px;
	}
	.headshot {
		width: 45%;
		float:right;
	}
	.signature {
		font-size: 30px;
		text-align: right;
	}
	.company {
		font-size: 70px;
	}
	.job-period {
		font-size: 20px;
	}
	.job-position {
		font-size: 32px;
		line-height: 1;
	}
} /*----------END of Tablet/Desktop CSS----------*/
