/*---------CSS Reset & Variables---------*/
	$black: #171A21;
	$gold: #C49D2A;
	$indigo: #1D2945;
	$cadet-blue: #344863;
	$header-font: "Khand";
	$text-font: "Spartan";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
}

/*---------CSS Reset & Variables---------*/
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

html {
	height:100%;
}

body {
	background-color: $black;
	font-family: $text-font;
	color: white;
	font-size: 16px;
	&::-webkit-scrollbar { width: .3rem; }
	&::-webkit-scrollbar-track { background: $black; }
	&::-webkit-scrollbar-thumb {
		background: $indigo;
	  border-radius: 20px;
	}
	height: 100%;
}

h1 {
	font-family: $header-font;
	text-shadow: 1px 1px $gold, 2px 2px $gold, 3px 3px $gold, 4px 4px $gold, 5px 5px $gold, 6px 6px $gold, 7px 7px $gold, 8px 8px $gold;
	text-transform: uppercase;
	line-height: 0.8;
	font-size: min(10vw, 140px);
	margin: auto;
}

h2 {
		font-family: $header-font;
		text-transform: uppercase;
		font-size: min(10vw, 60px);
		line-height: 0.95;
		max-width: 80%;
}

h3 {
		text-align: center;
		font-size: min(5vw, 30px);
		margin: 0 10px 5px 0;
}

.push { height: 40px; }

footer {
	width: 100%;
	text-align: center;
	font-size: 0.6rem;
	height: 40px;
	padding-top: 20px;
	margin: auto;
}

ol{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 40px auto;
}

.navbar {
	position: fixed;
	background-color: $indigo;
	transition: width 0.2s ease;
}

.navbar-nav {
	display:flex;
	align-items: center;
	height: 100%;
}

.nav-item {
	width:100%;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 4rem;
	color: $cadet-blue;
	transition: 0.2s;
	text-transform: uppercase;
	letter-spacing: 3px;
	svg {
		min-width: 2rem;
		max-width: 2rem;
		margin: 0 1rem;
	}
	&:hover {
		background: $cadet-blue;
		color: $gold;
	}
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.main-container {
	margin-left: auto;
	margin-bottom: -40px;
	min-height: 100%;
	max-width: 900px;
}

.hero-wrapper {
	margin-top: 50px;
	display: inline-grid;
	grid-template-rows: auto auto;
	grid-template-columns: 55% auto;
}

.paragraph {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: justify;
	line-height: 2;
	margin: 50px auto 0;
	width: 100%;
}

.signature {
	margin: 0px auto 100px;
	fill: white;
}

.job-info {
		margin: 10px auto;
		.job-card{
			background-color: rgba(196, 157, 42, 0.2);
			transition: all 0.2s ease-in-out;
			border-radius: 5px;
			padding: 10px 10px 10px;
			&:hover {
				background-color: rgba(196, 157, 42, 0.4);
			}
		}
		.active {
			background-color: rgba(196, 157, 42, 0.4);
			border-radius: 5px 5px 0 0;
		}
		.job-subcard {
			padding: 0 10px 0 20px;
		  max-height: 0;
		  overflow: hidden;
		  transition: max-height 0.2s ease-out;
		  background-color: rgba(196, 157, 42, 0.4);
			border-radius: 0 0 5px 5px;
		}
		.job-head {
			display:flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			h3 {
			text-align: left;
			font-size: min(4vw, 24px);
			}
			h4 {
			font-size: min(3vw, 16px);
			}
		}
		.duties > li {
			list-style-type: circle;
			margin: 1vw auto 1vw 2vw;
			line-height: 1.5;
		}
}

.skill_segment {
		display:block;
		width: 100%;
		margin: 10px auto;
		img {
			display: inline-flex;
			flex-direction: row;
			margin: 5px 10px;
			height: 100%;
			width: min(15vw, 6rem);
			fill: #FFFFFF;
		}
		h3 {
			margin: 1rem 0 6rem 0;
		}
}

.icon_set {
		display: flex;
		justify-content: center;
}

.body-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
		width: 270px;
		height: 230px;
		margin-bottom: 20px;
		border-radius: 3%;
		background-color: $indigo;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease;
		&:hover {
			height: 290px;
			.card-text {
				opacity: 1;
				max-height: 80px;
			}
			.card-icon {
				background-position: -160px;
				transition: all 0.3s ease-in-out;
				i {
					font-size: 95px;
					background: linear-gradient(90deg, #879FC0, #344863);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					opacity: 1;
					transition: all 0.2s ease-in-out;
				}
			}
		}

		.card-icon {
			margin: 0 auto;
			width: 100%;
			max-width:90px;
			height:90px;
			font-size: 50px;
			background-position: 0px;
			background: linear-gradient(90deg, #879FC0 0%, #344863 40%, $indigo 60%);
			background-size: 250px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
		}
		.card-title {
			text-align: center;
			font-size: min(5vw, 1.6rem);
			margin: 15px;
			color: white;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		.card-text {
			opacity: 0;
			text-align: center;
			line-height: 25px;
			color: white;
			margin: 0 10px;
			transition: 0.2s ease-in-out;
			max-height: 0;
			overflow: hidden;
		}
}

/*Small Screens*/
@media only screen and (max-width: 600px) {
		.navbar {
			bottom: 0;
			width:100vw;
			height: 4rem;
		}

		.navbar-nav {
			flex-direction: row;
		}

		.nav-link {
			justify-content: center;
		}

		.main-container {
			margin: auto;
			width: 75%;
			max-width: 900px;
		}

		.signature {
			grid-column-start: 1;
			grid-column-end: 3;
			max-width: 200px;
			margin-top: 30px;
		}

		.headshot-pic {
			width: 90%;
			margin: 0 auto;
			grid-row-start: 1;
			grid-column-start: 1;
			grid-column-end: 3;
			border-radius: 0 20%;
			border: 5px solid $cadet-blue;
		}

		h1 {
			grid-column-start: 1;
			grid-column-end: 3;
			font-size: min(16vw, 150px);
			line-height: 0.85;
			margin-top: 30px;
			text-align: center;
		}
		.card {
			width: 100%;
			height: 200px;
		}
}

/*Larger Screens*/
@media only screen and (min-width: 600px) {

		.navbar {
			top: 0;
			width: 4rem;
			height: 100vh;
			&:hover {
				width: 14rem;
				& .link-text {
					display: block;
				}
			}
		}

		.navbar-nav {
			flex-direction: column;
		}

		.main-container {
			margin: auto;
			width: 60%;
			max-width: 900px;
		}

		.signature {
			grid-column-start: 2;
			grid-column-end: 3;
			max-width: 200px;
		}

		@mixin expand-shadow($input) {
		  -webkit-transition: $input;
		  -ms-transition: $input;
			-o-transition: $input;
		  transition: $input;
		}

		.headshot-pic {
			width: 100%;
			margin: 0 auto;
			max-width: 560px;
			border-radius: 0 20%;
			@include expand-shadow(box-shadow 0.2s ease);
			&:hover {
				box-shadow:-4px 4px 0px $gold, -10px 10px 0px #DEC753, -14px 14px 0px #FAF480;
			}
		}
}
